{% extends "questions/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
<div class="content" style="font-size:120%;padding-top:2em;">
<p>
נחמד לצוף. לא לקחת בחירה, לא להתחייב. ככה תמיד תוכל לומר "אמרתי לכם שלא יצא ממנו כלום" או "ידעתי שאין על מי לסמוך..."
</p><p>
אבל חשוב שתדע: הבחירות בישראל הן יחסיות. לכן, כשאתה בוחר לא לבחור, אתה מחזק את הצד שנוגד את דעותיך.
לכן עדיף לבחור במועמד שאינו מושלם, אבל הוא יותר קרוב לדרכך מהאחרים.
</p><p>
אתר צפים מזמין אותך להפנות למועמדים כל שאלה שעולה על דעתך, על פי הקטגוריות השונות

והם יחזירו לך תשובה בהקדם

כדי שתוכל לבחור את מי שמדבר אליך יותר מכל
</p><p>

ואז
</p><p>

לבחור!    
</p>
</div>
    
{% endblock %}
