{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url profile_detail user %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
    {% endif %}
{% endblock %}


{% block right_tab %}
    {% if user.is_authenticated %}
        <table>
            <tr>
                <td class="tab rtab_questions"><div><a href="{% url all_questions %}">{% trans "Questions" %}</a></div></td>
                <td class="tab rtab_notices"><div><a href="{% url notification.views.notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></div></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block footer %}
<div class="legal">
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
    - <a href="http://groups.google.com/group/polinax">Community</a>
</div>
{% endblock %}
