{% extends "questions/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load voting_tags %}
{% load pagination_tags %}
{% load extra_voting_tags %}
{% load in_filter %}
{% load extra_tagging_tags %}

{% block head_title %}{% blocktrans %}All Bookmarks{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Bookmarks Feed" href="/feeds/questions/" />
{% endblock %}

{% block body %}
    <h1>{% trans "All Bookmarks" %}</h1>
    
    {% if questions %}
        <p>{% trans "These are questions from everyone:" %}</p>
        
        <p>{% trans "Sort by:" %}
            {% ifequal request.sort_order "points" %}
                <a href="?sort_order=hotness">{% trans "reddit-like hotness" %}</a>
                {% trans "or" %}
                <b>{% trans "total points" %}</b>
                {% trans "or" %}
                <a href="?sort_order=date">{% trans "date added" %}</a>
                {% order_by_votes questions %}
            {% else %}
                {% ifequal request.sort_order "hotness" %}
                    <b>{% trans "reddit-like hotness" %}</b>
                    {% trans "or" %}
                    <a href="?sort_order=points">{% trans "total points" %}</a>
                    {% trans "or" %}
                    <a href="?sort_order=date">{% trans "date added" %}</a>
                    {% order_by_reddit questions added %}
                {% else %}
                    <a href="?sort_order=hotness">{% trans "reddit-like hotness" %}</a>
                    {% trans "or" %}
                    <a href="?sort_order=points">{% trans "total points" %}</a>
                    {% trans "or" %}
                    <b>{% trans "date added" %}</b>
                {% endifequal %}
            {% endifequal %}
        </p>
        
        {% autopaginate questions %}
        
        {% votes_by_user user on questions as vote_dict %}
        {% scores_for_objects questions as score_dict %}
        
        <table class="questions">
            {% for question in questions %}
                <tr class="{% cycle odd,even %}">
                    <td class="meta">
                        <div class="avatar">{% avatar question.adder 40 %}</div>
                        <div class="details"><a href="{% url profiles.views.profile question.adder.username %}">{{ question.adder }}</a></div>
                        {{ question.added|date }}
                    </td>
                    <td class="vote">
                        {% dict_entry_for_item question from vote_dict as vote %}
                        {% dict_entry_for_item question from score_dict as score %}
                        {% if user.is_authenticated %}
                            <a id="up_{{ question.id }}" href="#" onclick="vote({{ question.id }}, '{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}'); return false;"><img src="{{ MEDIA_URL }}up_{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png"/></a><br />
                        {% endif %}
                        <span id="question_{{ question.id }}_score">
                            {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
                        </span><br />
                        {% if user.is_authenticated %}
                            <a id="down_{{ question.id }}" href="#" onclick="vote({{ question.id }}, '{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}'); return false;"><img id="img_{{ question.id }}_down" src="{{ MEDIA_URL }}down_{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png"/></a>
                        {% endif %}
                    </td>
                    <td>
                        <h2>{{ question.text }}</a></h2>
                        <div class="tags">{% show_tag_counts question.all_tags_with_counts %}</div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        {% paginate %}
        
    {% else %}
        <p>{% trans "No questions yet." %}</p>
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script>
        function vote(question_id, direction) {
            $.post(question_id + '/' + direction + 'vote/', function(data) {
                var jsonResult = eval('(' + data + ')');
                var new_score = jsonResult.score.score;
                $('#question_' + question_id + '_score').text(new_score + ' point' + (new_score == 1 ? '': 's'));
            });
            if (direction == 'up') {
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}up_mod.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
            else if (direction == 'down') {
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}down_mod.png"/>');
            }
            else { // clear
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'up\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'down\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
        }
    </script>
{% endblock %}
