{% extends "laws/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Propose a New Law{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Propose a new law" %}</h1>

    {% if user.is_authenticated %}    
        <form method="POST" action="">
            <input type="hidden" name="action" value="create" />
            {{ form.as_p }}
            <input type="submit" value="{% trans 'create' %}"/>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> or <a href="{{ login_url }}">log in </a> to propose laws.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}