{% load i18n %}
{% load avatar_tags %}
<div class="members">
    <table>
        {% for member in members %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
            <td>
                {% avatar member.user 40 %}
            </td>
            <td> 
                <a href="{% url profile_detail member.user.username %}" title="{{ member.user.profile_set.all.0 }}">{{ member.user.profile_set.all.0 }}</a>
            </td>
            {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
        {% endfor %}
        {% if members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
    </table>
</div>

