body {
    background-color: #001537;
    color: #65A8D3;
}
a, a:visited {
    color: #65A8D3;
    text-decoration:underline;
}
#search_box {
    padding: 0.5em 0.1em;
}


#body {
    background-color: white;
    padding: 0.5em;
}
#login {
    float: left;
}
.selected {
    font-weight:bold;
}
a:visited { }
a:hover { text-decoration:underline; }
img {border: none; }
#footer {
    clear:both;
    padding-top: 1em;
    text-align: center;
}

.box {
    margin:0.5em;
    border:1px solid;
}
.box h1 {
    margin:0;
    padding:4px;
    background-color:#001537;
    color: #65A8D3;

    font-size:14px;
}
.box a { text-decoration: none;} 
.box a:hover { text-decoration:underline; }

.box ul {
    padding:0 1em;
    list-style: none;
}
ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFD;
    margin: 3px;
    border: 1px solid #BC9;
}
ul#messages li a {
    float: right;
    color: #693;
}
.content {
    padding-left:1em;
}
.pagination {
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    padding:0.5em 0;
}
.pagination .disabled {
    color: white;
}
.hidden {
    display:none;
}
.responses {
    margin: 0px;
    padding: 0px;
}
.responses li { 
    list-style-type: none; 
}
div.meta {
    float: right;
    width: 100px;
    margin: 4px;
    padding: 4px;
}
.responses p {
    padding: 8px;
    margin:0;
}
form.delete {
    display:inline;
}
.even {
    background-color: #FAFAFA;
}
.odd {
    background-color: #F3F3F3;
}
.thread-0 { margin-right: 0px; }
.thread-1 { margin-right: 20px; }
.thread-2 { margin-right: 40px; }
.thread-3 { margin-right: 60px; }
.thread-4 { margin-right: 80px; }
.thread-5 { margin-right: 100px; }
.thread-6 { margin-right: 120px; }
.thread-7 { margin-right: 140px; }
.thread-8 { margin-right: 160px; }
.tabs {
    position: absolute;
    bottom: -3px; /* must be same thickness as tab border */
    left:0px;
    /* left: 210px; /* based on width and padding of logo */
}
.tabs td {
    vertical-align: bottom;
    padding-right: 0; /* space between tabs */
}

.tab a, .tab a:visited {
    color: #444; /* unselected tab text colour */
    font-weight: bold;
    text-decoration: none;
}
.tab a:hover {
    color: #666; /* unselected tab text hover colour */
}
.tab div {
    background-color: #DDD; /* unselected tab colour */
    padding: 0;
    padding-bottom: 4px;
    padding-top: 5px;
    margin: 0 1px; /* to compensate for border */
}
.tab div a {
    padding: 5px 12px;
}
#questions_tab .rtab_questions a,
#parties_tab .rtab_parties a,
#account_tab .rtab_account a,
#notices_tab .rtab_notices a
{
    color: #001537 !important; /* selected tab text colour */
}
#questions_tab .rtab_questions div,
#parties_tab .rtab_parties div,
#account_tab .rtab_account div,
#notices_tab .rtab_notices div
{
    background-color: white !important; /* selected tab colour */
}
.members td {
}
.q {
    padding-right:0.2em;
    font-size:130%;
    margin: 0.1em 0;
}
.q a {text-decoration: none;}
.q a:hover { text-decoration:underline;}

