{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="account_tab"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <div class="box">
        <h1>{% trans "Personal Info" %}</h1>
        <ul>
            <li><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></li>
            <li><a href="{% url acct_email %}">{% trans "E-Mail Addresses" %}</a></li>
            <li><a href="/openid/associations/">{% trans "OpenID Associations" %}</a></li>
            {% if user.password %}
            <li><a href="{% url acct_passwd %}">{% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url acct_passwd_set %}">{% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url acct_passwd_delete %}">{% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url acct_timezone_change %}">{% trans "Timezone" %}</a></li>
        </ul>
    </div>
    {% else %}
            <div class="box">
            <h1>{% trans "Categories" %}</h1> 
        <ul>
            <li id="cat_menu_all"><a href="{% url all_questions %}">{% trans "All" %}</a>
        {% for c in categories %}
            <li id="cat_menu_{{c.0}}"><a href="{% url all_questions %}?c={{c.0}}">{{c.1}}</a>
        {% endfor %}
        </ul>
        </div>
    <div class="box">
        <FORM id="search_box" action="" method="get">
            <input type='text' name='q' size="18" />
            <input type="submit" value='{% trans "Search" %}'/>
        </form>
    </div>
    {% endif %}
{% endblock %}
