{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load pagination_tags %}
{% load questions_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
    
        <h1>{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}</h1>
        <div class="profile_avatar">
            <div>{% avatar other_user 40 %}</div>
            {% if is_me %}
            <a href="{% url avatar_change %}" id="avatar_replace">(החלף)</a>
            {% endif %}
        </div>
    
    
        <div class="profile_info">
            {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: {{ other_user.get_profile.name }}</p>{% endif %}
            {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}
            {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}
            {% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a></p>{% endif %}
        </div>
    
    
        {% if user.is_authenticated %}
        
            {% if is_me %}
                <div class="form-toggle">
                    <p><a href="#" id="edit-profile-toggle">{% trans "Edit profile" %}</a></p>
                    <form id="edit-profile" method="POST" action="" style="display: none;">
                        <table>
                            {{ profile_form }}
                            <tr><td></td><td><input type="hidden" name="action" value="update" /><input type="submit" value="{% trans "update" %}"/></td></tr>
                        </table>
                    </form>
                </div>
            {% endif %} {# is me #}
        
        {% endif %}
        {# % plugin_point "profiles.profile" user=other_user owner=other_user viewer=user % #}
{% questions_for_user other_user as user_qs %}
{% if user_qs %}
    {% autopaginate user_qs %}
    <table class="questions">
        <tr><th>{% trans "Category" %}<th>{% trans "Question" %}</tr>
        {% for question in user_qs %}
            <tr class="{% cycle odd,even %}">
                <td>
                    {{question.category_name}}
                </td>
                <td class="questions">
                    <h3>{{question.text}}</h3>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% paginate %}
{% endif %}
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-profile').hide();
            $('#edit-profile-toggle').click(function() {
                $('#edit-profile').slideToggle();
                $('#edit-profile').autoscroll();
                return false;
            });
            if ($('#edit-profile ul.errorlist').length) {
                $('#edit-profile').show();
                $('#edit-profile ul.errorlist').autoscroll();
            }
        });
    </script>
{% endblock %}

