{% load i18n %}
{% load avatar_tags %}

{% if is_me %}
    <div class="friends">
            <h2>{% trans "My Friends" %}</h2>
        {% if other_friends %}
            <table width="100%">
                {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <td>
                        <div class="avatar">{% avatar friendship.friend 40 %}</div>
                        <div class="details"><a href="{% url profiles.views.profile friendship.friend.username %}" title="{{ friendship.friend.username }}">{{ friendship.friend.username }}</a></div>
                    </td>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                {% endfor %}
                {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
            </table>
        {% else %}
            <p><a href="/profiles/">{% trans "Add friends" %}</a></p>
        {% endif %}
    </div>
{% endif %}

{% if is_friend %}
    <div class="friends">
        <h2>{% blocktrans %}{{ other_user }}'s Friends{% endblocktrans %}</h2>
        <table width="100%">
            {% for friendship in other_friends %}
                {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                <td>
                    <div class="avatar">{% avatar friendship.friend 40 %}</div>
                    <div class="details"><a href="{% url profiles.views.profile friendship.friend.username %}" title="{{ friendship.friend.username }}">{{ friendship.friend.username }}</a></div>
                </td>
                {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
            {% endfor %}
        {% if other_friends|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
        </table>
    </div>
{% endif %}

    <div class="questions">
        <h2>
    {% if is_me %}
            {% trans "My Questions" %}
    {% else %}
            {% blocktrans %}{{ other_user }}'s Questions{% endblocktrans %}
    {% endif %}
        </h2>
        {% if other_user.law_set.all %}
            {% for law in other_user.group_set.all %}
                <a href="{% url view_law law.id %}">{{ law.name }}</a>
            {% endfor %}
        {% else %}
            {% url tribe_thing_list "" as tribe_url %}
            <p>{% trans "You haven't posted any questions yet." %} <a href="{# % url post_question % #}">{% trans "post a quetion" %}</a>.</p>
        {% endif %}
    </div>
