{% extends "questions/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load voting_tags %}
{% load pagination_tags %}
{% load extra_voting_tags %}
{% load in_filter %}
{% load tagging_tags %}

{% block head_title %}{% blocktrans %}All Questions{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Questions Feed" href="/feeds/questions/" />
    <style type="text/css" media="screen">
        .q {
            padding-right:0.2em;
            font-size:130%;
        }
        .author {
            font-style: italic;
            font-size:80%;
            color: #001537;

        }
    </style>

{% endblock %}

{% block body %}
    {% if questions %}
        <p>{% trans "Sort by:" %}
            {% ifequal request.sort_order "points" %}
                <a href="?sort_order=hotness">{% trans "hot" %}</a>
                {% trans "or" %}
                <b>{% trans "points" %}</b>
                {% trans "or" %}
                <a href="?sort_order=date">{% trans "date" %}</a>
                {% order_by_votes questions %}
            {% else %}
                {% ifequal request.sort_order "hotness" %}
                    <b>{% trans "hot" %}</b>
                    {% trans "or" %}
                    <a href="?sort_order=points">{% trans "points" %}</a>
                    {% trans "or" %}
                    <a href="?sort_order=date">{% trans "date" %}</a>
                    {% order_by_reddit questions added %}
                {% else %}
                    <a href="?sort_order=hotness">{% trans "hot" %}</a>
                    {% trans "or" %}
                    <a href="?sort_order=points">{% trans "points" %}</a>
                    {% trans "or" %}
                    <b>{% trans "date" %}</b>
                {% endifequal %}
            {% endifequal %}
        </p>
        
        {% autopaginate questions %}
        
        {% votes_by_user user on questions as vote_dict %}
        {% scores_for_objects questions as score_dict %}
        
        <table class="questions">
            {% for question in questions %}
                <tr class="{% cycle odd,even %}">
                    <td class="vote">
                        {% dict_entry_for_item question from vote_dict as vote %}
                        {% dict_entry_for_item question from score_dict as score %}
                        {% if user.is_authenticated %}
                            <a id="up_{{ question.id }}" href="#" onclick="vote({{ question.id }}, '{% if vote and vote.is_downvote %}clear{% else %}up{% endif %}'); return false;"><img src="{{ MEDIA_URL }}up_{% if vote and vote.is_upvote %}mod{% else %}grey{% endif %}.png"/></a><br />
                        {% endif %}
                        <span id="question_{{ question.id }}_score" class="score">
                            {{ score.score|default:0 }}
                        </span><br />
                        {% comment %}
                        {% if user.is_authenticated %}
                            <a id="down_{{ question.id }}" href="#" onclick="vote({{ question.id }}, '{% if vote and vote.is_upvote %}clear{% else %}down{% endif %}'); return false;"><img id="img_{{ question.id }}_down" src="{{ MEDIA_URL }}down_{% if vote and vote.is_downvote %}mod{% else %}grey{% endif %}.png"/></a>
                        {% endif %}
                        {% endcomment %}
                    </td>
                    <td class="meta">
                        
                        <div class="avatar"><a href="{% url profiles.views.profile question.adder.username %}">{% avatar question.adder 40 %}</a></div>
                    </td>
                    <td>
                        <p class="q">
                            {{ question.text }}
                            <span class="author">{%trans "by:" %}&nbsp;<a href="{% url profiles.views.profile question.adder.username %}">{{ question.adder }}</a></span>
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        {% paginate %}
        
    {% else %}
        <p>{% trans "No questions yet." %}</p>
    {% endif %}
    
{% endblock %}

{% block extra_js_init %}
            var c=$(document).getUrlParam("c");
            if (c == null)
                $("#cat_menu_all").addClass("selected");
            else
                $("#cat_menu_"+c).addClass("selected");
{% endblock %}
{% block extra_script %}
    <script src="{{ MEDIA_URL }}js/jquery.getUrlParam.js" type="text/javascript"></script>
    
    <script>

        function vote(question_id, direction) {
            $.post(question_id + '/' + direction + 'vote/', function(data) {
                var jsonResult = eval('(' + data + ')');
                var new_score = jsonResult.score.score;
                $('#question_' + question_id + '_score').text(new_score);
            });
            if (direction == 'up') {
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}up_mod.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
            else if (direction == 'down') {
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'clear\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="return false;"><img src="{{ MEDIA_URL }}down_mod.png"/>');
            }
            else { // clear
                $('#up_' + question_id).replaceWith('<a id="up_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'up\'); return false;"><img src="{{ MEDIA_URL }}up_grey.png"/>');
                $('#down_' + question_id).replaceWith('<a id="down_' + question_id + '" href="#" onclick="vote(' + question_id + ', \'down\'); return false;"><img src="{{ MEDIA_URL }}down_grey.png"/>');
            }
        }
    </script>
{% endblock %}
